.users-parent {
    border: 1px solid #eee;
    margin: 0 auto;
    padding: 25px;
    width: 310px;
}

.navbar-right > li {
    display: inline-block !important;
    position: relative;
}

.navbar-brand > img {
    bottom: 14px;
    height: 47px;
    position: relative;
}

.add_ondemand.col-md-6 {
    margin-top: 52px;
}

.message {
    background: none repeat scroll 0 0 #7bbf6a;
    color: #eee;
    font-size: 15px;
    height: 41px;
    margin-top: 10px;
    padding: 10px;
    position: absolute;
    width: 400px;
}

.navbar-default {
    background-color: #333 !important;
    border-color: #444 !important;
}

.pro-img {
    border-radius: 54px;
    height: 45px;
}